problems/quadratic-assignment/support/__pycache__/qap.cpython-312.opt-1.pyc
problems/quadratic-assignment/support/__pycache__/qap.cpython-312.pyc
problems/quadratic-assignment/support/__pycache__/qap.cpython-314.pyc
problems/quadratic-assignment/support/__pycache__/qap.pypy311.pyc
